@media screen and (max-width: 1280px) {
  
  #block_page {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  #headerImage  {
    padding: 15px 0;
  }

  .search {
    justify-content: center;
    flex-direction: column;
  }

  .filters  {
    width: 100%;
    flex-wrap: wrap;
  }
  

  .filter {
    margin: 0 0 10px 35px;
  }

  .housing  {
    display: flex;
    flex-direction: column-reverse;
    grid-row-gap: 24px;
    margin-bottom: 24px;
  }

  .housingPopular   {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }

  .housingMain  {
    grid-template-columns: 1fr 1fr;
  }


  .activity {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 64px 0;
  }
}